@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* global rules */
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* sections */
.section-1 {
  background-color: #1f2937;
}

.section-2 {
  background-color: #f9f8f9;
}

/* navigation */
.navigation-bar {
  position: sticky;
  top: 0;
  background-color: #1f2937;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-contents {
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  flex: 1;
  color: #f9faf8;
  font-size: 24px;
}

.navigation-bar .links {
  display: flex;
  gap: 24px;
}

.footer {
  background-color: #1f2937;
}

/* sidebars and main content */

.main {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.sidebar-first {
  width: 15%;
  order: 1;
}

.sidebar-second {
  width: 15%;
  order: -1;
}

.banner {
  display: flex;
  margin: 100px 0;
  height: 25em;
  gap: 100px;
}

/* first main section content */
.left-items {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  flex: 1;
  gap: 16px;
}

.main-hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.secondary-hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

/* sign-up button */
button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

button span {
  cursor: pointer;
  transition: 0.5;
}

/* img main1 */
.right-items {
  justify-content: flex-end;
  flex: 2;
}

.right-items .image {
  background-image: url(./images/Nano_cosmic_influx_eee9bfe4-93d5-4b04-975f-a41ea6f7c72d.png);
  background-color: #1f2937;
  width: 100%;
  height: 100%;
  background-blend-mode: screen;
  background-repeat: no-repeat;
}

/* section 2 banner */
.banner-2 {
  margin: 100px 0;
  height: 25em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0;
  gap: 40px;
  text-align: center;
}

/* section 2 header */
.header-section-2 {
  display: flex;
  font-weight: bolder;
  font-size: 36px;
  color: #1f2937;
}

/* content section 2 */
.content-section-2 {
  display: flex;
  gap: 2em;
}

/* image and description */
.image-description {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  flex-grow: 0;
  width: 180px;
  height: fit-content;
}

/* images section -2 */
.image-section-2 {
  display: flex;
  border: 2px solid #3882f6;
  width: 150px;
  height: 160px;
  border-radius: 8px;
}
